{% extends 'PraiseItBundle:Paladin:base.html.twig' %}

{% block results -%}
    <h1>Prayer creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pray') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
