<!-- DOCTYPE html-->
<html>
<head>
    <title>{% block title %}Bootstrap 101 Template{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    {% block stylesheets %}
        {% stylesheets '@bootstrap_less' combine=true %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}

</head>
<body>

    {% block myBody %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
            <script src="{{ asset_url }}"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="{{ asset('bundles/praiseit/js/main.js') }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>
